{% extends 'main_website.html' %}
{% load custom_tags %}

{% block content %}

<div class="article">
    <img class="article_image" src={% base_url %}{{ article.image.url }}>
    <div class="article_title">{{ article.title }}</div>
        <div class="date_position" >
            <div class="article_date_box">
                <p class="article_date">{{ article.date }}</p>
            </div>
        </div>
        <div class="article_author">{{ article.author }}</div>
        <p class="article_desc">{{ article.description }}</p>
</div>

{% endblock %}
