.article {
    font-weight: 300;
    font-style: normal;
    text-align: center;
}

.article_title {
    font-size:70px;
}

.date_position {
    position: relative;
    display: flex;
    width:fit-content;
    justify-content: center;
}

.article_date_box {
    position: absolute;
    border-radius: 50%;
    width: 120px;
    height: 40px;
    border: 4px black;
    background-color: black;
    text-align: center;
}

.article_date {
    font-weight: 600;
    font-size: large;
    text-align: center;
}

.article_desc {
    font-size: 10px;
}