

.articles_box {
    overflow: hidden;
    width:fit-content;
    display: inline-block;
    border-radius: 0%;
    background-color:rgb(41, 35, 35);
    padding: 8px;
    margin: 20px;
}

.article_minimal_title  {
    font-size: xx-large;
    text-align: left;
}

.horizondal-object > *{
    display: inline-block;
    text-align: center;
}

.date_position_minimal {
    display: flex;
    justify-content: left;
}

.article_author_minimal {
    padding: 0px 20px;
    text-align: right;
    font-size: 25px;
}