

.articles_box {
    overflow: hidden;
    width:fit-content;
    display: inline-block;
    border-radius: 0%;
    background-color:rgb(88, 88, 88);
    padding:20px;
    margin: 20px;
    border-radius: 30%;
}

.article_body {
    padding:10px;
    margin: 10px 10px;
}

.article_minimal_title  {
    font-size: xx-large;
    text-align: center;
}

.horizondal-object > *{
    display: inline-block;
    text-align: center;
}

.date_position_minimal {
    display: flex;
    justify-content: left;
}

.article_author_minimal {
    padding: 0px 20px;
    text-align: right;
    font-size: 25px;
}